In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("test_clean.csv", delimiter=';')

In [30]:
df

              Timestamp  Velocity  Altitude    Trip
0   2024-05-04 18:01:00     4.900        30      Go
1   2024-05-04 18:01:00    20.800        30      Go
2   2024-05-04 18:01:00     7.310        30      Go
3   2024-05-04 18:02:00     7.338        30      Go
4   2024-05-04 18:02:00     7.560        30      Go
..                  ...       ...       ...     ...
198 2024-06-04 11:21:00    37.000        23  Return
199 2024-06-04 11:23:00    30.852        23  Return
200 2024-06-04 11:24:00    17.668        23  Return
201 2024-06-04 11:25:00     4.500        27  Return
202 2024-06-04 11:27:00     0.000        33  Return

[203 rows x 4 columns]

In [28]:
# df['Timestamp'] = pd.to_datetime(df['Timestamp']).dt.strftime("%d/%m/%Y %H:%M")
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%d/%m/%Y %H:%M')

In [30]:
# Fill the missing values in the Timestamp column with the previous non-missing value
data = [
    ["18:01", 4.9],
    ["", 20.8],
    ["", 7.31],
    ["", 7.338],
    ["", 7.56],
    ["", 14.8],
    ["18:11", 25.8]
]

# Convert data to DataFrame
df = pd.DataFrame(data, columns=["Timestamp", "Value"])
df.Timestamp =pd.to_datetime(df.Timestamp, format="%H:%M")

In [32]:
len(df)

7

In [41]:
pd.date_range(
    start=pd.to_datetime(str(df['Timestamp'][0])), end=pd.to_datetime(str(df['Timestamp'][6])),periods=7)

DatetimeIndex(['1900-01-01 18:01:00', '1900-01-01 18:02:40',
               '1900-01-01 18:04:20', '1900-01-01 18:06:00',
               '1900-01-01 18:07:40', '1900-01-01 18:09:20',
               '1900-01-01 18:11:00'],
              dtype='datetime64[ns]', freq=None)

In [38]:
str(df['Timestamp'][6])

'1900-01-01 18:11:00'

In [4]:
data = [
    [4.9, 30],
    [20.8, None],
    [7.31, None],
    [7.338, None],
    [7.56, None],
    [14.8, 32],
    [25.8, None],
    [42.8, None],
    [42.5, None],
    [25.9, None],
    [23.47, 32]
]

# Convert data to DataFrame
df = pd.DataFrame(data, columns=["km", "Value"])

In [8]:
df["Value"].fillna(df["Value"].rolling(window=5, min_periods=1).mean(), inplace=True)

print(df)

        km  Value
0    4.900   30.0
1   20.800   30.0
2    7.310   30.0
3    7.338   30.0
4    7.560   30.0
5   14.800   32.0
6   25.800   32.0
7   42.800   32.0
8   42.500   32.0
9   25.900   32.0
10  23.470   32.0