In [1]:
import pandas as pd
import numpy as np

In [2]:
def get_even_lists(lst):
    even_pos = []
    odd_pos = []
    lim = len(lst)

    for i in range(len(lst)):
        if i % 2 == 1:
            odd_pos.append(lst[i])
        else:
            even_pos.append(lst[i])
    
    return odd_pos, even_pos

In [13]:
df = pd.read_csv("S1.csv", delimiter=";")
df["TIMESTAMP"] = pd.to_datetime(df["TIMESTAMP"], format="%d/%m/%Y %H:%M")

In [14]:
for i in ["TRIP", "TEMPERATURE", "FUEL", "PERSONS","COUNT_TRIPS"]:
    df[i].fillna(method="ffill", inplace=True)

C:\Users\canut\AppData\Local\Temp\ipykernel_3812\2253822055.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[i].fillna(method="ffill", inplace=True)

In [16]:
df["ALTITUDE"].fillna(df["ALTITUDE"].rolling(window=10, min_periods=1).mean(), inplace=True)

df["ALTITUDE"] = df["ALTITUDE"].round(0)

In [17]:
dn = list(df.select_dtypes(include=np.number).columns)

for i in dn:
    df[i] = df[i].astype(int)

In [18]:
df[df["ALTITUDE"].isna()].index

Index([], dtype='int64')

In [19]:
# for i in [366, 367]:
#     df.at[i, "ALTITUDE"] = 106

In [20]:
# df.at[387, "ALTITUDE"] = 98

In [25]:
df

,TIMESTAMP,SPEED,ALTITUDE,TRIP,TEMPERATURE,FUEL,PERSONS,COUNT_TRIPS
0,2024-05-16 20:19:00,0,5,RETURN,23,AUTONETOIL,2,3
1,2024-05-16 20:19:00,5,5,RETURN,23,AUTONETOIL,2,3
2,2024-05-16 20:19:00,6,5,RETURN,23,AUTONETOIL,2,3
3,2024-05-16 20:19:00,3,5,RETURN,23,AUTONETOIL,2,3
4,2024-05-16 20:19:00,1,6,RETURN,23,AUTONETOIL,2,3
...,...,...,...,...,...,...,...,...
1158,2024-06-02 08:10:00,30,7,GO,29,AUTONETOIL,1,1
1159,2024-06-02 08:10:00,21,7,GO,29,AUTONETOIL,1,1
1160,2024-06-02 08:11:00,12,7,GO,29,AUTONETOIL,1,1
1161,2024-06-02 08:11:00,4,7,GO,29,AUTONETOIL,1,1
1162,2024-06-02 08:11:00,0,5,GO,29,AUTONETOIL,1,1

In [54]:
# df = pd.read_csv("test_clean_2.csv", delimiter=",")
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'], format='%Y-%m-%d %H:%M:%S')

df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'], format='%d/%m/%Y %H:%M:%S')

In [87]:
df = pd.read_csv("fin_V2.csv", delimiter=";")
df["TIMESTAMP"] = pd.to_datetime(df["TIMESTAMP"], format="%d/%m/%Y %H:%M")

In [22]:
lr = df[df["TIMESTAMP"].notnull()].index
lr

Index([   0,  142,  143,  272,  273,  388,  389,  497,  498,  617,  618,  766,
        767,  865,  866, 1027, 1028, 1162],
      dtype='int64')

In [23]:
odd_l, even_l = get_even_lists(lr)
odd_l, even_l

([142, 272, 388, 497, 617, 766, 865, 1027, 1162],
 [0, 143, 273, 389, 498, 618, 767, 866, 1028])

In [24]:
lg = []
for i, j in zip(even_l, odd_l):
    l_i = pd.date_range(
    start=pd.to_datetime(str(df["TIMESTAMP"][i])),
    end=pd.to_datetime(str(df["TIMESTAMP"][j])),
    periods=(j - i+1)).round(freq="min")
    print(l_i[-1])
    lg.append(l_i)
    
ld =  [x for xs in lg for x in xs]
df["TIMESTAMP"] = ld

2024-05-16 20:33:00
2024-05-22 08:07:00
2024-05-22 13:53:00
2024-05-31 08:22:00
2024-05-31 13:37:00
2024-06-01 10:17:00
2024-06-01 11:54:00
2024-06-02 14:29:00
2024-06-02 08:11:00

In [154]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [55]:
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'], format='%d-%m-%Y %H:%M:%S')
df

,TIMESTAMP,SPEED,ALTITUDE,TRIP,TEMPERATURE,FUEL,PERSONS,COUNT_TRIPS,day_formatted,day_fuel,ROUTE
0,2024-05-16 20:19:00,0,5,RETURN,23,AUTONETOIL,2,3,16/05/2024,16/05/2024_AUTONETOIL_3,CITY
1,2024-05-16 20:19:00,5,5,RETURN,23,AUTONETOIL,2,3,16/05/2024,16/05/2024_AUTONETOIL_3,CITY
2,2024-05-16 20:19:00,6,5,RETURN,23,AUTONETOIL,2,3,16/05/2024,16/05/2024_AUTONETOIL_3,CITY
3,2024-05-16 20:19:00,3,5,RETURN,23,AUTONETOIL,2,3,16/05/2024,16/05/2024_AUTONETOIL_3,CITY
4,2024-05-16 20:19:00,1,6,RETURN,23,AUTONETOIL,2,3,16/05/2024,16/05/2024_AUTONETOIL_3,CITY
...,...,...,...,...,...,...,...,...,...,...,...
1158,2024-06-02 08:10:00,30,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1159,2024-06-02 08:10:00,21,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1160,2024-06-02 08:11:00,12,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1161,2024-06-02 08:11:00,4,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1162,2024-06-02 08:11:00,0,5,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY

In [56]:
df['TIMESTAMP'] = df['TIMESTAMP'].dt.strftime('%d/%m/%Y %H:%M:%S')
df

,TIMESTAMP,SPEED,ALTITUDE,TRIP,TEMPERATURE,FUEL,PERSONS,COUNT_TRIPS,day_formatted,day_fuel,ROUTE
0,16/05/2024 20:19:00,0,5,RETURN,23,AUTONETOIL,2,3,16/05/2024,16/05/2024_AUTONETOIL_3,CITY
1,16/05/2024 20:19:00,5,5,RETURN,23,AUTONETOIL,2,3,16/05/2024,16/05/2024_AUTONETOIL_3,CITY
2,16/05/2024 20:19:00,6,5,RETURN,23,AUTONETOIL,2,3,16/05/2024,16/05/2024_AUTONETOIL_3,CITY
3,16/05/2024 20:19:00,3,5,RETURN,23,AUTONETOIL,2,3,16/05/2024,16/05/2024_AUTONETOIL_3,CITY
4,16/05/2024 20:19:00,1,6,RETURN,23,AUTONETOIL,2,3,16/05/2024,16/05/2024_AUTONETOIL_3,CITY
...,...,...,...,...,...,...,...,...,...,...,...
1158,02/06/2024 08:10:00,30,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1159,02/06/2024 08:10:00,21,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1160,02/06/2024 08:11:00,12,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1161,02/06/2024 08:11:00,4,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1162,02/06/2024 08:11:00,0,5,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY

In [57]:
df_fin = pd.read_csv("final_4.csv", delimiter=";")
df_fin
# df_fin['TIMESTAMP'] = pd.to_datetime(df_fin['TIMESTAMP'], format='%Y-%m-%d %H:%M:%S')

,TIMESTAMP,SPEED,ALTITUDE,TRIP,TEMPERATURE,FUEL,PERSONS,COUNT_TRIPS,day_formatted,day_fuel,ROUTE
0,05/04/2024 18:01,5,30,GO,21,BP,3,1,05/04/2024,05/04/2024_BP_1,CITY
1,05/04/2024 18:01,21,30,GO,21,BP,3,1,05/04/2024,05/04/2024_BP_1,CITY
2,05/04/2024 18:02,7,30,GO,21,BP,3,1,05/04/2024,05/04/2024_BP_1,CITY
3,05/04/2024 18:02,7,30,GO,21,BP,3,1,05/04/2024,05/04/2024_BP_1,CITY
4,05/04/2024 18:03,8,30,GO,21,BP,3,1,05/04/2024,05/04/2024_BP_1,CITY
...,...,...,...,...,...,...,...,...,...,...,...
2387,16/05/2024 20:12,36,5,GO,23,SHELL,2,2,16/05/2024,16/05/2024_SHELL_2,CITY
2388,16/05/2024 20:12,28,5,GO,23,SHELL,2,2,16/05/2024,16/05/2024_SHELL_2,CITY
2389,16/05/2024 20:12,14,5,GO,23,SHELL,2,2,16/05/2024,16/05/2024_SHELL_2,CITY
2390,16/05/2024 20:13,6,5,GO,23,SHELL,2,2,16/05/2024,16/05/2024_SHELL_2,CITY
2391,16/05/2024 20:13,0,5,GO,23,SHELL,2,2,16/05/2024,16/05/2024_SHELL_2,CITY

In [26]:
df['day_formatted'] = df['TIMESTAMP'].dt.strftime("%d/%m/%Y")

df['day_fuel'] = df['day_formatted'] + "_" + df['FUEL'].astype(str)
df['day_fuel'] = df['day_fuel'] + "_" + df['COUNT_TRIPS'].astype(str)

df['ROUTE'] = df['SPEED'].apply(lambda speed: 'CITY' if speed <= 47 else 'HIGHSPEED')

In [29]:
df['SPEED'] = df['SPEED'].apply(lambda speed: speed+5 if speed > 50 else speed)

In [30]:
df.drop(columns='SPEED_D', inplace=True)

In [86]:
dfb_bp = df.copy()

In [58]:
df_f = pd.concat([df_fin, df], axis=0)
df_f.to_csv("final_4.csv")

In [59]:
df_f

,TIMESTAMP,SPEED,ALTITUDE,TRIP,TEMPERATURE,FUEL,PERSONS,COUNT_TRIPS,day_formatted,day_fuel,ROUTE
0,05/04/2024 18:01,5,30,GO,21,BP,3,1,05/04/2024,05/04/2024_BP_1,CITY
1,05/04/2024 18:01,21,30,GO,21,BP,3,1,05/04/2024,05/04/2024_BP_1,CITY
2,05/04/2024 18:02,7,30,GO,21,BP,3,1,05/04/2024,05/04/2024_BP_1,CITY
3,05/04/2024 18:02,7,30,GO,21,BP,3,1,05/04/2024,05/04/2024_BP_1,CITY
4,05/04/2024 18:03,8,30,GO,21,BP,3,1,05/04/2024,05/04/2024_BP_1,CITY
...,...,...,...,...,...,...,...,...,...,...,...
1158,02/06/2024 08:10:00,30,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1159,02/06/2024 08:10:00,21,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1160,02/06/2024 08:11:00,12,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1161,02/06/2024 08:11:00,4,7,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY
1162,02/06/2024 08:11:00,0,5,GO,29,AUTONETOIL,1,1,02/06/2024,02/06/2024_AUTONETOIL_1,CITY

In [60]:
l_g = list(df_f['FUEL'].unique())
l_g

['BP', 'REPSOL', 'V2', 'SHELL', 'AUTONETOIL']

In [61]:
agg_c = {'SPEED': ['mean', 'median', 'max'], 
         'ALTITUDE': ['mean', 'median','max'],
         'PERSONS': ['max'], 
         'TEMPERATURE': 'mean'}

In [66]:
for i in l_g:
    print(df_f[df_f['FUEL'] == i].groupby('day_fuel').agg(agg_c).round(0))

                SPEED             ALTITUDE             PERSONS TEMPERATURE
                 mean median  max     mean median  max     max        mean
day_fuel
05/04/2024_BP_1  18.0   18.0   43     39.0   39.0   50       3        21.0
05/04/2024_BP_2  14.0   14.0   38     39.0   38.0   50       3        21.0
06/04/2024_BP_1  51.0   44.0  112     46.0   32.0  125       3        22.0
06/04/2024_BP_2  65.0   70.0  126     46.0   27.0  125       1        26.0
13/04/2024_BP_1  52.0   39.0  115     59.0   43.0  125       2        19.0
                    SPEED            ALTITUDE            PERSONS TEMPERATURE
                     mean median max     mean median max     max        mean
day_fuel
21/04/2024_REPSOL_1  24.0   26.0  39     19.0   20.0  34       1        22.0
                SPEED             ALTITUDE             PERSONS TEMPERATURE
                 mean median  max     mean median  max     max        mean
day_fuel
03/05/2024_V2_1  14.0   14.0   29     29.0   30.0   33       2        17.0
03/05/2024_V2_2  14.0   14.0   29     29.0   30.0   33       1        17.0
03/05/2024_V2_3  19.0   20.0   43     22.0   24.0   34       1        22.0
21/04/2024_V2_2  26.0   26.0   83     18.0   18.0   34       2        22.0
23/04/2024_V2_1  59.0   49.0  133     33.0   25.0  125       1        18.0
25/04/2024_V2_1  33.0   24.0  102     44.0   33.0   93       1        20.0
25/04/2024_V2_2  39.0   30.0   92     47.0   33.0   89       1        21.0
26/04/2024_V2_1  32.0   25.0  102     14.0    8.0   33       1        18.0
26/04/2024_V2_2  39.0   32.0   99     11.0    8.0   33       1        22.0
                   SPEED             ALTITUDE             PERSONS TEMPERATURE
                    mean median  max     mean median  max     max        mean
day_fuel
03/05/2024_SHELL_1  18.0   15.0   66     11.0    8.0   33       1        21.0
04/05/2024_SHELL_1  31.0   20.0   93     42.0   21.0  177       4        20.0
04/05/2024_SHELL_2  46.0   38.0  104     57.0   23.0  177       4        21.0
10/05/2024_SHELL_1  31.0   26.0   86     13.0    7.0   33       1        18.0
10/05/2024_SHELL_2  37.0   35.0   81     12.0    8.0   33       1        21.0
15/05/2024_SHELL_1  29.0   24.0   89     12.0    7.0   33       1        19.0
15/05/2024_SHELL_2  37.0   34.0   87     12.0    8.0   33       1        22.0
16/05/2024_SHELL_1  50.0   34.0  112     32.0   20.0  125       1        23.0
16/05/2024_SHELL_2  48.0   38.0  117     55.0   52.0  125       2        23.0
                        SPEED             ALTITUDE             PERSONS  \
                         mean median  max     mean median  max     max
day_fuel
01/06/2024_AUTONETOIL_1  55.0   43.0  120     29.0   20.0  125       1
01/06/2024_AUTONETOIL_2  15.0   14.0   30    105.0  105.0  107       1
02/06/2024_AUTONETOIL_1  45.0   30.0  123     43.0   32.0  125       1
16/05/2024_AUTONETOIL_3  26.0   26.0   70     24.0   27.0   33       2
22/05/2024_AUTONETOIL_1  29.0   24.0  100     11.0    7.0   33       1
22/05/2024_AUTONETOIL_2  36.0   30.0   92     12.0    8.0   33       1
31/05/2024_AUTONETOIL_1  27.0   24.0   83     11.0    7.0   33       1
31/05/2024_AUTONETOIL_2  30.0   26.0   80     13.0    8.0   33       1

                        TEMPERATURE
                               mean
day_fuel
01/06/2024_AUTONETOIL_1        26.0
01/06/2024_AUTONETOIL_2        27.0
02/06/2024_AUTONETOIL_1        27.0
16/05/2024_AUTONETOIL_3        23.0
22/05/2024_AUTONETOIL_1        21.0
22/05/2024_AUTONETOIL_2        23.0
31/05/2024_AUTONETOIL_1        22.0
31/05/2024_AUTONETOIL_2        26.0

In [64]:
def route(df, fuel):
    results = {
    'total': df[df['FUEL'] == fuel].groupby('day_fuel')['ROUTE'].count(),
    'city_tot': df[(df['FUEL'] == fuel) & (df['ROUTE'] == 'CITY')].groupby('day_fuel')['ROUTE'].count(),
    'high_tot': df[(df['FUEL'] == fuel) & (df['ROUTE'] == 'HIGHSPEED')].groupby('day_fuel')['ROUTE'].count()    
    }

    results_df = pd.DataFrame(results).fillna(0)
    results_df.reset_index(inplace=True)

    results_df['city_%'] = round(results_df['city_tot']/results_df['total']*100,2)
    
    return results_df

In [65]:
route(df_f,'BP')

          day_fuel  total  city_tot  high_tot  city_%
0  05/04/2024_BP_1     43        43       0.0  100.00
1  05/04/2024_BP_2     59        59       0.0  100.00
2  06/04/2024_BP_1     46        23      23.0   50.00
3  06/04/2024_BP_2     55        20      35.0   36.36
4  13/04/2024_BP_1     83        45      38.0   54.22